@import "tailwindcss";

@layer components {
  .spinner-mini {
    margin: 0;
    width: 20px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 2px solid gray;
    border-right-color: transparent;
    animation: rotate 1s infinite linear;
  }

  @keyframes rotate {
    to {
      transform: rotate(1turn);
    }
  }
}

body {
  direction: rtl;
  font-size: 14px;
  background-color: #f3f4f6;
}
.rmdp-container {
  width: 100%;
}
